body {
    font-family: 'Acme';
    margin: 0%;
}


h1 {
    background-color: orangered;
    height: 100px;
    text-indent: 30px;
    display: flex;
    align-items: center;
    margin: 0px;
}

.bar ul {
    font-size: large;
    font-weight: 100;
    background-color: rgb(214, 195, 195);
    color: rgb(71, 65, 65);
    display: flex;
    flex-direction: row;
    height: 50px;
    list-style-type: none;
    align-items: center;
    margin: 0px;
}
.bar a {
    text-decoration: none;
    color: rgb(71, 65, 65);
    margin: 20px;
}

.bar-item {
    display: flex;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: row;
    height: 400px;
}

.right {
    height: 100%;
    width: 500px;
    margin: 30px;
}

.items {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-indent: 10px;
    justify-content: center;
    margin-top: 50px;
    margin-left: 30px;

}

.table ul {
    list-style-type: none;
    font-size: 25px;
    padding: 15px;
    width: 300px;
    margin: 95px;
    
}

.table li {
    border: 1px solid black;
} 

.table a {
    text-decoration: none;
    color: black;
    width: 100%;
} 

.top {
    background-color:orangered ;
}

.normal {
    background-color: rgb(214, 195, 195);
}





